<div class="sidebar" data-color="purple" data-background-color="white" id="sugarizer-sidebar">
    <div class="logo">
        <a href="/" class="simple-text"><%= server.name %></a>
		<div class="server-description"><%= server.description %></div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <% if (module == 'home') { %>
            <li class="nav-item active">
			<% } else { %>
            <li class="nav-item">
			<% } %>
                <a class="nav-link" href="/" data-i18n="[title]home">
                    <i class="material-icons">home_work</i>
                    <p data-i18n="home"></p>
                </a>
            </li>
            <% if (module == 'profile') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/profile" data-i18n="[title]profile">
                    <i class="material-icons">person</i>
                    <p data-i18n="profile"></p>
                </a>
            </li>
            <% if (account.user) { %>
                <% if (module == 'twoFactor') { %>
                <li class="nav-item active">
                <% } else { %>
                <li class="nav-item">
                <% } %>
                    <a class="nav-link" href="/profile/enable2FA" data-i18n="[title]2FA">
                        <i class="material-icons">enhanced_encryption</i>
                        <p data-i18n="2FA"></p>
                    </a>
                </li>
                <% } %>
            <% if (account.user && (account.user.role=="admin" || account.user.role=="moderator")) { %>
            <% if (module == 'users') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/users" data-i18n="[title]users">
                    <i class="material-icons">people</i>
                    <p data-i18n="users"></p>
                </a>
            </li>
            <% } %>
            <% if (module == 'deployments') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/deployments" data-i18n="[title]deployments">
                    <i class="material-icons">group_work</i>
                    <p data-i18n="deployments"></p>
                </a>
            </li>
            <% if (account.user && (account.user.role=="admin" || account.user.role=="moderator")) { %>
            <% if (module == 'health') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/health" data-i18n="[title]health">
                    <i class="material-icons">local_hospital</i>
                    <p data-i18n="health"></p>
                </a>
            </li>
            <% } %>
            <% if (account.user && (account.user.role=="admin" || account.user.role=="moderator")) { %>
            <% if (module == 'releases') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/releases" data-i18n="[title]releases">
                    <i class="material-icons">dashboard</i>
                    <p data-i18n="releases"></p>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</div>
