<div class="sidebar" data-color="purple" data-background-color="white" id="sugarizer-sidebar">
    <div class="logo">
        <a href="/" class="simple-text"><%= server.name %></a>
		<div class="server-description"><%= server.description %></div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <% if (module == 'home') { %>
            <li class="nav-item active">
			<% } else { %>
            <li class="nav-item">
			<% }%>
                <a class="nav-link" href="/">
                    <i class="material-icons">home_work</i>
                    <p>Home</p>
                </a>
            </li>
            <% if (module == 'profile') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% }%>
                <a class="nav-link" href="/profile">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
            <% if (account.user && (account.user.role=="admin" || account.user.role=="moderator")) { %>
            <% if (module == 'users') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% }%>
                <a class="nav-link" href="/users">
                    <i class="material-icons">people</i>
                    <p>Users</p>
                </a>
            </li>
            <% }%>
            <% if (module == 'releases') { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% }%>
                <a class="nav-link" href="/releases">
                    <i class="material-icons">dashboard</i>
                    <p>Releases</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="material-icons">logout</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>
