.server-description {
    text-align: center;
    color: #3c4858;
    font-size: 11px;
}

.navbar-brand {
    text-transform: capitalize;
}

.user-search-input {
    height: calc(2.4375rem + 2px);
}

.menu-spacing {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.hide {
    display: none;
}

.lang-combo {
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 160px;
    -moz-appearance: button;
    -webkit-appearance: button;
}

.page-button, .page-button:focus, .page-button:hover {
    color: white;
}

.material-icons.dp96 {
    font-size: 96px;
    line-height: 108px;
}

.form-item-spacing {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.select-form-add-edit {
    text-align: left;
}

.deployment-card-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.deployment-admin-card-title {
    margin-top: 25px;
}

.isDisabled {
    cursor: not-allowed !important;
    color: #fff !important;
    opacity: 0.5;
}
.isDisabled > a {
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.ssp-icon {
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.ssp-icon:hover {
    transform: scale(1.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.password-strength-text {
    margin: -1.3em auto 0em !important;
    width: 100%;
    background: none;
}

meter {
    margin: -4em auto 1em;
    width: 100%;
    background: none;
}

meter::-webkit-meter-bar {
    background: none;
}

meter[value="1"]::-webkit-meter-optimum-value, meter[value="1"]::-moz-meter-bar {
    background: rgb(255, 0, 0);
}

meter[value="2"]::-webkit-meter-optimum-value, meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value, meter[value="3"]::-moz-meter-bar {
    background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value, meter[value="4"]::-moz-meter-bar {
    background: green;
}


@media (max-width: 991px) {
    .lang-container {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .lang-combo {
        width: 100%;
    }

    .sidebar:before {
        background-color: inherit;
    }
    .sidebar {
        background-color: inherit;
    }
}