<%- include('includes/header') %>
<div class="wrapper ">
    <%- include('includes/sidebar') %>
    <div class="main-panel">
        <%- include('includes/navbar') %>
        <div class="page-header text-center">
          <h1><span class="fa fa-anchor">Would you like to Enable Two-Factor Authentication</span></h1>
          <a href="yesTwoFA" class="btn btn-default btn-sm">Yes</a>
          <a href="/noTwoFA" class="btn btn-default btn-sm">No</a>
        </div>
<%- include('includes/footer') %>
